.flows-container {
  padding: 0 10px;
  minHeight: 800px;
  .flows-layout {
    padding: 24px 0;
    background: #fff;

    .toolkit-sider {
      background: #fff;
      border: 1px solid black;
      .drag-components-wrapper {
        .drag-component-wrapper {
          width: 50%;
          float: left;
          .component-name {
            text-align: center;
          }
        }
      }
    }
    .workarea-content-wrapper {
      padding: 0 24px;
      min-height: 800px;
      border: 1px solid black;
      .work-area {
        padding: 0 24px;
        min-height: 800px;
        border: 1px solid black;
      }
    }
  }
}
